@model Doan.Models.Oder
@{
    ViewBag.Title = "Shopping_Success";
    Layout = "~/Views/Shared/CustomerLayout.cshtml";
}

<body style="text-align:center">
    <h2>Bạn Đã Đặt Hàng Thành Công</h2>
    <h3>Đơn hàng của bạn sẽ được giao sớm nhất </h3>
    <h3>Cảm ơn Quý Khách đã ủng hộ chúng tôi</h3>
    <a class="btn btn-success" href="@Url.Action("Index","Home")">Quay lại trang chủ</a>
</body>

