
@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

<div class="accordion-header table table-dark table-striped">
    <figure>
        <blockquote class="blockquote">
            <h3>Trang Admin</h3>
        </blockquote>
    </figure>
    <h2>Chào Mừng Đến Với Trang Admin</h2>
</div>
